.regLog-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sora;
}

.left-reg-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-reg-log  p {
    max-width: 370px ;
    text-align: center;
    color: #A1A1A1;
    font-size: 20px;
}

.left-reg-log  span{
    color: #fff;
}


.right-reg-log {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}